* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.bar-box{
    /* margin: auto; */ 
    /* border-style: solid; */
    /* border-radius: 1rem; */
    border-width: .5rem;
    border-color: white;
    margin-bottom: 64px;/* footer se chipnewala area dikhana ke liye*/
}
.bar-box .horizintal-bars{
    width: 100%;
    height: 520px;
    flex-wrap: nowrap;
    display: inline-flex;
    border-style: solid;
    border-width: .2rem;
    text-align: center;
    display: flex;
    overflow: auto;
}
.property-box {
    width: auto;
    border-color: white;
    height: 560px;
    border-style: solid;
    border-width: .2rem;
}
.property-box button {
    height: 2.5rem;
    font-size: 1rem;
    padding-top: 5px;
}
.property-box input {
    width : 5rem;
    height: 2.5rem;
    vertical-align: center;
}

.property-box select{
    height: 2.5rem;
}

@media screen and (max-width: 768px) {
    .property-box{
        height: auto;
    }
}

.message{
    width: 100%;
    color: rgb(31, 35, 33);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.bar-container{
    border-color: azure;
}

.colorbox{
    height: 15px;
    width: 15px;
}
