footer {
  text-align: center;
  background-color: rgb(233, 232, 232);
  color: black;
  width: 100%;
  /* position: fixed; */
  left: 0;
  bottom: 0;
  height: 100px;
}

footer h5 img {
  height : 30px;
}

footer a {
  padding-left: 10px;
}